body, html {
  margin: 0;
}

.post-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: rgb(213, 211, 221);
}

.post-card {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: box-shadow .3s ease-in-out;
  margin: 15px 0;
  cursor: pointer;
}

.post-card:hover {
  box-shadow: 0px 10px 20px #838383;
}

.post-card img {
  width: 100%;
}

.post-card p {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  background-color: white;
  font-family: Nunito, sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
}